@import "bootstrap/bootstrap";
@import "site/variables";

.blog {
	.container-fluid.post-title {
		background-color: #337ab7;
		padding-top: 113px;
		padding-bottom: 113px;
		color: #fff;
		text-align: center;
		margin-bottom: 20px;
		margin-top: 20px;
	}
  
	#body {
		select.cat-selector {
			max-width: 130px;
			float: right;
		}

		.pagination {
			margin-top: 0;
		}
	}
}