@import "bootstrap/bootstrap";
@import "site/variables";

.listings {
  
  #body {
	
	.intro {
	  margin-bottom: 10px;
	  .container {
		.row.single {
		  span {
			font-weight: bold;
			font-size: 18px;
		  }
		  
		  i {
			color: #999;
		  }
		  
		}
	  }
	}
	
	.container {
	  .row.single {
		  margin-top: 10px;
		  
		.desc-wrapper {
		  min-height: 400px;
		  background-color: #efefef;
		  
		  .inner {
			padding: 15px;
			
			h3 {
			  padding-top: 0;
			  margin-top: 0;
			}
		  }
		}
		
		.title-img {
		  min-height: 400px;
		  background-repeat: no-repeat;
		  background-position: center center;
		  background-size: cover;
		}
		
		.btn.btn-contact {
			margin-top: 25px;
		}
	  }
	  
	  .row {
		a.card {
		  position: relative;
		  display: block;
		  background-repeat: no-repeat;
		  background-position: center center;
		  background-size: cover;
		  min-height: 250px;
		  margin-bottom: 30px;
		
		  .title {
			position: absolute;
			padding: 10px;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, .44);
			text-align: center;
			color: #fff;
			font-weight: bold;
		  }
		}
	  }
	}
  }
}

@media(max-width: $screen-sm-min) {
  .listings {
	#body {
	  .container {
		.row.single {
		  .desc-wrapper {
			background-color: #fff;
		  }
		}
	  }
	}
  }
}
