// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";

#header {
  padding: 0;
  margin: 0;
  text-align: center;
  height: 75px;
  box-shadow: 0 4px 12px 3px rgba(0, 0, 0, .44);
  
  .navbar.navbar-default {
	margin: 0;
	margin-top: 10px;
	border: 0;
	background-color: #fff;
    z-index: 100000;
	
	.navbar-collapse {
		&.in {
			border: 1px solid #999;
			border-radius: 3px;
	  }	
	}
  }
  
  ul.navbar-nav {
	margin-top: 8px;
	
	li {
		a {
		  padding-top: 8px;
		  padding-bottom: 8px;
		}
	}
  }
}

#body {
  margin-top: 5px;
}

.intro {
  position: relative;
  
  .header-btn {
	position: absolute;;
	top: 10px;
	right: 10px;
  }
}

@media(max-width: $screen-sm) {
	#body {
		h1 {
			text-align: center;
		}
	}
}