extends ../layouts/home

block content
	//- HEADER
	#header.home
		.container-fluid
			.row
				.col-sm-4.hidden-xs
					.img-container &nbsp;
				.col-sm-4
					h1 Eric Campbell
					h4 Serving Park City, Heber Valley and Salt Lake Valley
				.col-sm-4.hidden-xs
					img(src="/images/blueroof-logo.png", style="max-width: 200px;")

	//- BODY
	#body: .container
		| &nbsp;
		.big-nav
			.item
				a(href="/listings")
					.label 
						i.fa.fa-home
						h4 Listings
					
			.item
				a(href="/blog")
					.label
						i.fa.fa-rss-square 
						h4 Blog
					
			.item
				a(href="/contact")
					.label
						i.fa.fa-envelope-square
						h4 Contact
block css 
	link(href="/styles/home.css", rel="stylesheet")