extends ../layouts/default

block content
	.container: .row: .col-sm-12
		article
			p: a(href='/blog') &larr; back to the blog
			hr
			if !data.post
				h2 Invalid Post.
			else
				header
					h1= data.post.title
					if data.post.publishedDate
						h5
							| Posted: #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
				.post
					if data.post.image.exists
						.image-wrap: img.pull-left(style="margin-right:10px;margin-bottom:10px;", src=data.post._.image.fit(750,450)).img-responsive
					!= data.post.content.full
